<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548243889408-mn3ghs0tk030t589b8o1omsk0n4v2btt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548243889408-mn3ghs0tk030t589b8o1omsk0n4v2btt</string>
	<key>API_KEY</key>
	<string>AIzaSyBlXvAxnlnsSmd8A8UW7NPBEChHvYGRHU0</string>
	<key>GCM_SENDER_ID</key>
	<string>548243889408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolfware.stocker</string>
	<key>PROJECT_ID</key>
	<string>stocker-dcbca</string>
	<key>STORAGE_BUCKET</key>
	<string>stocker-dcbca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548243889408:ios:890e88a4bb226f8d20a7e5</string>
	<key>DATABASE_URL</key>
	<string>https://stocker-dcbca.firebaseio.com</string>
</dict>
</plist>